@media all and (max-width: 550px)
{
	.search {
		display: none;
	}
}

@media handheld
{
	.name p img {
		display: none;
	}
}

@media screen and (max-width: 450px)
{
	#albums article {
		width: 100%
	}
}